* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif; /* Change font to Montserrat */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('/src/main/resources/images/boz-ui.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 500px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    color: #fff; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif; 
}

.form-group {
    margin-bottom: 20px;
}

.form-group #phoneNumber,
.form-group #countryCode {
    width: calc(50% - 5px); 
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #fff; 
    color: #fff; 
    margin-right: 5px; 
}

#countryCode {
    margin-right: 0; 
}
 

#direction{
    background-color: rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); 
    border: 1px solid #fff; 
    color: #fff; 
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff; 
    color: #000; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ccc; 
}
